body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card {
    position: relative;
    background-color: #eeeeee;
    margin: 16px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.delete-button {
    position: absolute;
    right: 5%;
    bottom: 5%;
    background-color: rgb(0, 153, 255);
    color: white;
    border: none;
    cursor: pointer;
    padding: 4px 8px;
    margin-top: 5px;
    border-radius: 5px;
  }

.users {
    color: #416f00;
}
